{
  "jsxSingleQuote": true,
  "semi": true,
  "singleQuote": true,
  "tabWidth": 2,
  "trailingComma": "all",
  "useTabs": false,
  "tailwindFunctions": ["cn"],
  "plugins": ["prettier-plugin-tailwindcss"]
}
